/* -----------------START-NAVIGATION --------------------*/

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../public/img/header.jpg');
    background-size: cover;
    background-position: center;
    height: 95vh;
    background-attachment: fixed;
    overflow-x: hidden;
 }

.navbar-brand,
.navbar-nav li a {
    font-size: 16px;
    line-height: 60px;
    height: 60px;
    padding-top: 0;
}

.navbar-brand img{
	display: inline-block;
	margin-left: 80px;
}

.navbar-right {
	margin-right: 50px;
}

.navbar-default {
    background-color: white;
    }

.intro {
  padding-top: 100px;
	text-align: center;
	color: white;
}
.intro h1 {
	font-size: 300%;
	padding-top: 100px;
	font-family: 'Open Sans', 'Helvetica Neue', 'Arial', 'sans-serif';
	font-weight: bold;

	-webkit-animation-duration: 3s;
	-webkit-animation-delay: 1s;
	-webkit-animation-iteration-count: 1;

}

.intro h2 {
	font-family: 'Open Sans';
  font-size: 125%;
  font-weight: lighter;
	-webkit-animation-duration: 3s;
	-webkit-animation-delay: 2s;
	-webkit-animation-iteration-count: 1;

}

.intro a{

	text-decoration: none;
	padding: 20px 30px;
	border: 1px solid white;
	color: white;
	font-weight: bold;
	-webkit-transition:all 0.25s ease-in-out;
		-moz-transition:all 0.25s ease-in-out;
		-o-transition:all 0.25s ease-in-out;
		-ms-transition:all 0.25s ease-in-out;
		transition:all 0.25s ease-in-out;
}

.button {
	-webkit-animation-duration: 3s;
	-webkit-animation-delay: 3s;
	-webkit-animation-iteration-count: 1;
}

.contact-button a{
  font-size: 16px;
}

.contact-button a:hover{
	background-color: #5fcf80;
	transition: background-color 0.5s;
	padding: 20px 20px;
	-webkit-transition:all 0.25s ease-in-out;
		-moz-transition:all 0.25s ease-in-out;
		-o-transition:all 0.25s ease-in-out;
		-ms-transition:all 0.25s ease-in-out;
		transition:all 0.25s ease-in-out;

}

/* ----------------------------------------------- */
/* About Me Section */
/* ----------------------------------------------- */

.waypoint-anim-1{

	opacity: 0;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: 1;
}

.waypoint-anim-2{

	opacity: 0;
	-webkit-animation-duration: 2s;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: 1;
}

.waypoint-anim-3{

	opacity: 0;
	-webkit-animation-duration: 2s;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: 1;
}

.profile-img img{
	border: 1px solid white;
	border-radius: 50%;

}

.about-box {
  margin-left: -15px;
  margin-bottom: 5px;
	padding: 5px 5px 5px 15px;
	color: white;

}

.about-box h3 {

	text-transform: uppercase;
	font-weight: bold;
	color: white;
}


#about-me h1 {
	padding: 40px 0 70px 0;
	text-align: center;
	color: white;
	font-size: 40px;
}

#about-me {
	background-color: #7d8dad;
	color: white;
	font-family: 'Open Sans',sans-serif;
	font-size: 16px;
	padding-bottom: 40px;
}


.barprogress {
	padding-top: 4px;
	padding-left: 40px;
}

hr {
	padding: 0;
	margin: 0 0 20px 0;
	border-color: white;
}

.ul-about{
	padding-left: 20px;
}


/* ----------------------------------------------- */
/* Portfolio Section */
/* ----------------------------------------------- */
.waypoint-anim-4{

	opacity: 0;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: 1;
}

.portfolio {
	background-color: #f2f5fa;
	text-align: center;
	color: white;
	padding-bottom:100px;

}

.portfolio h1 {
	padding: 40px 0 70px 0;
	margin: 0;
	color: #555;
	text-transform: uppercase;
	font-size: 35px;
}


.caption-style-4{
		list-style-type: none;
		padding: 0;
		overflow: hidden;

	}

	.caption-style-4 li{
		float: left;
		padding: 0px;
		position: relative;
		overflow: hidden;
	}

	.caption-style-4 li:hover .caption{
		opacity: 1;
	}

	.caption-style-4 li:hover img{
		opacity: 1;
		transform: scale(1.15,1.15);
		-webkit-transform:scale(1.15,1.15);
		-moz-transform:scale(1.15,1.15);
		-ms-transform:scale(1.15,1.15);
		-o-transform:scale(1.15,1.15);
	}


	.caption-style-4 img{
		margin: 0px;
		padding: 0px;
		float: left;
		z-index: 4;
		max-width: 100%;
	}


	.caption-style-4 .caption{
		cursor: pointer;
		position: absolute;
		opacity: 0;
		left: 0;
		-webkit-transition:all 0.45s ease-in-out;
		-moz-transition:all 0.45s ease-in-out;
		-o-transition:all 0.45s ease-in-out;
		-ms-transition:all 0.45s ease-in-out;
		transition:all 0.45s ease-in-out;
	}

	.caption-style-4 img{
		-webkit-transition:all 0.25s ease-in-out;
		-moz-transition:all 0.25s ease-in-out;
		-o-transition:all 0.25s ease-in-out;
		-ms-transition:all 0.25s ease-in-out;
		transition:all 0.25s ease-in-out;
	}
	.caption-style-4 .blur{
		background-color: rgba(0,0,0,0.65);
		height: 500px;
		width: 400px;
		z-index: 5;
		position: absolute;
	}

	.caption-style-4 .caption-text h1{
		text-transform: uppercase;
		font-size: 34px;
		color: white;
	}
	.caption-style-4 .caption-text{
		z-index: 10;
		color: #fff;
		position: absolute;
		width: 400px;
		height: 300px;
		text-align: center;
		top:20px;
		left: -15px;

	}

	.caption-text span{

		text-decoration: none;
		border: 1px solid white;
		padding: 5px 10px;
		color: white;
	}



/* ----------------------------------------------- */
/* Contact Section */
/* ----------------------------------------------- */


.button-sub	{
	position: absolute;
	left: 0;
	bottom:20px;
  font-size: 18px;
	padding: 15px 35px 15px 35px;


}

.button-form {
	position: relative;
}

#contact {
	text-align: center;

}

#contact h1 {

	padding: 20px 0 40px 0;
}
.quotetext {

	text-align: left;
  font-size: 16px;
}

.quote-form{

	padding: 30px 20px 0 0;
}

.quote-form1{

	padding: 30px 20px 100px 0;
}

.quote-icon {
	color: orange;
	font-size: 30px;
}

.quotetextcolor{
  color: #337ab7;
}



#email-symbol {

	position: absolute;
	bottom: 47px;
	left: 25px;
}


#phone-symbol{

	position: absolute;
	bottom: 145px;
	left: 25px;
}

#location{

	position: absolute;
	top: 20px;
	left: 25px;
}

.quote-position {

	position: relative;
	/*border: 1px solid black;*/
	padding-left: 70px;
	padding-top: 25px;
}
.quote-position h4 {

	text-transform: uppercase;
	font-weight: bold;
	color: #485578;
}

.quote-position p {

	padding-bottom: 20px;
}

/* ----------------------------------------------- */
/* Projects Section */
/* ----------------------------------------------- */
.proj-skills {
	margin-top: 30px;
	margin-bottom: 30px;
}

.proj-skills li{
	list-style: none;
	display: inline-block;
	padding: 10px;
	margin-right: 10px;
	border: 1px solid black;
}

.project-cont {
	margin-top: 50px;
	margin-bottom: 50px;
}

.proj-button {
	border: 1px solid black;
	background: #446d8d;
	color: white;
	padding: 10px;
	margin-right: 15px;
}

.proj-button:hover {
	background-color: white;
	color: black;
	text-decoration: none;
	}

.proj-p {
	margin-bottom: 30px;
}

/* ----------------------------------------------- */
/* Footer Section */
/* ----------------------------------------------- */

footer {

	background-color: #7d8dad;
	color: white;
	font-size: 16px;
	height: 100px;
    overflow-y: hidden;


}

.footer-icon {
	float: right;
	font-size: 40px;
	padding-right: 100px;
	padding-top: 20px;
	display: inline-block;
}

.footer-icon a {
	color: white;
	font-size: 40px;
  padding: 0 7px 0 7px;
}

.footer-icon a:hover {
	color: orange;
}


.footer-text {
	float: left;
	display: inline-block;
	padding-left: 80px;
	padding-top: 35px;
}

.footer-text a{
  padding-left: 2px;
  color: white;
  text-decoration: underline;
}

.footer-text a:hover{
  color: orange;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


.p-spacer{
  margin-top: 30px;
}

.header-links-content{

  padding: 30px 15px 75px;
  width: 100%;

  -webkit-transition:all 0.30s ease-in-out;
    -moz-transition:all 0.30s ease-in-out;
    -o-transition:all 0.30s ease-in-out;
    -ms-transition:all 0.30s ease-in-out;
    transition:all 0.30s ease-in-out;

}

 .header-links-content a {
   border-style: none;
  color: white;
  font-size: 40px;
  padding: 0 7px 0 7px;
}

.header-links-content a:hover {
  color: orange;
}

.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  margin: 0;
  font-size: 3em;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content .item-details {
  margin: 30px 0;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #2C3E50;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #2C3E50;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}

.about-box-p{
  padding-bottom: 30px;
}
